@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex {
  display: flex;
}

/* Dark-2 */
.text-gray {
  color: #424242;
}

/* Dark-3 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 14px 18px;
  border: none;
  border-radius: 7px;
  font-size: 1.15rem;
  font-weight: 600;
}

/* header style */

/* navbar related style */

.nav-items {
  list-style: none;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.93em;
  font-weight: 700;
}

.navbar,
.banner {
  max-width: 1024px;
  margin: 0 auto;
}


/* banner content style */
.banner-content {
  max-width: 612px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35.5px;
}

.banner-title {
  font-weight: 700;
  font-size: 2.81em;
}

.banner-description {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

}

.banner-image{
    width: 100%;
}

/* responsive media query */
@media screen and (max-width:576px){
  .navbar, .nav-links{
    flex-direction: column;
  }      
}
